@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BooksViewModel


@foreach (Books b in Model.Books)
{
    <partial name="ProjectSummary" model="b" />

}

<!-- 'page-model' is a special tag helper, pass it in all the page info that came in through the controller -->
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"
     ></div> <!-- this line is what gives us our page links -->
