@page "/admin"
@model BookStoreProject.Pages.Admin.IndexModel

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@{
    Layout = null; 
}



<!DOCTYPE html>

<html>
<head>
    <title>Book Store Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>
    <component type="typeof(BookStoreProject.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script> <!-- this is mapped from middleware-->

</body>


</html>
